<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All tube stations</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/Service/src/main/resources/static" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">Dominik's Transport Progress Manager : All Stations Names</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="py-2 text-dark text-decoration-none" href="/"> &#8649; Go to Main page</a>
        </nav>
    </div>
</header>


<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="station : ${stations}">
        <td><a th:href="@{'/tube/station/' + ${station}}" th:text="${station}"/></td>
    </tr>
    </tbody>
</table>

</body>
</html>